.label {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;
  padding: 0;
}

.input {
  width: 100%;
  height: 46px;

  color: #fff;
  font-size: 13px;
  font-weight: 400;

  background: #2f2f2f;
  border-radius: 8px;
}

/* Чтоб автозаполнение не изменяла фон инпута */

.input:-webkit-autofill {
  transition: all 5000s ease-in-out;
}

.input__error {
  color: #ff0000;
}

.input-error {
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  min-height: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
}

.input-error_visible {
  visibility: visible;
  opacity: 1;
}
