.movies-card {
  display: flex;
  flex-direction: column;
  gap: 14px;

  height: 236px;
}

.movies-card__item {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  padding: 0 14px;
}

.movies-card__container {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 9px;
}

.movies-card__title {
  overflow: hidden;

  margin: 0;

  font-size: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movies-card__text {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  color: #8b8b8b;
}

.movies-card__button {
  width: 30px;
  height: 30px;
  padding: 0;

  border: none;
  border-radius: 50%;
}

.movies-card__button_type_normal {
  background: url('../../images/saved_icon.svg') no-repeat center;
}

.movies-card__button_type_saved {
  background: url('../../images/saved__icon_active.svg') no-repeat center;
}

.movies-card__button_type_close {
  background: url('../../images/close_icon.svg') no-repeat center;
}

.movies-card__icon {
  width: 30px;
  height: 30px;
}

.movies-card__img-button {
  width: 100%;
  height: 168px;
  padding: 0;

  background: none;
  border: none;
}

.movies-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----- Разрешение 768px ------ */

@media (width >= 768px) {
  .movies-card {
    height: 258px;
  }

  .movies-card__img-button {
    height: 190px;
  }
}

/* ----- Разрешение 1024px ------ */

@media (width >= 1024px) {
  .movies-card {
    height: 271px;
  }

  .movies-card__img-button {
    height: 203px;
  }
}
