.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  width: 100%;

  background-color: #202020;
}

.form__header {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #fff;
  text-align: center;
}

.form__button {
  width: 100%;
  height: 45px;
  margin-top: 20px;

  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-align: center;

  background: #4285f4;
  border-radius: 3px;
}

@media (width >= 768px) {
  .form__button {
    font-size: 14px;
  }
}
