.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  padding: 30px;
}

.notfound__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.notfound__title {
  margin: 0;
  padding: 10px 0;

  font-size: 80px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.notfound__text {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.notfound_link {
  font-size: 12px;
  font-weight: 400;
  color: #4285f4;
  text-align: center;
}

/* ----- Разрешение 768px ------ */

@media (width >= 768px) {
  .notfound__title {
    padding: 5px 0;
    font-size: 140px;
  }

  .notfound__text {
    font-size: 16px;
  }
}

/* ----- Разрешение 1024px ------ */

@media (width >= 1024px) {
  .notfound {
    padding: 60px;
  }
}
