.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px 10px;

  background: #073042;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 44px 0 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  color: #fff;
  text-align: center;
  text-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  letter-spacing: -1.2px;
}

.promo__text {
  width: 260px;
  margin: 26px 0 0;

  font-size: 13px;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-weight: 400;
  color: #fff;
  text-align: center;

  opacity: 0.5;
}

.promo__img {
  width: 210px;
  height: 206px;
  margin-top: 40px;
}

/* ----- Разрешение 768px ------ */

@media (width >= 768px) {
  .promo {
    padding: 76px 44px;
  }

  .promo__img {
    width: 310px;
    height: 304px;
    margin-top: 64px;
  }

  .promo__title {
    width: 680px;
    margin: 48px 0 0;
    font-size: 40px;
    line-height: 50px;
  }

  .promo__text {
    width: 260px;
  }
}

/* ----- Разрешение 1024px ------ */

@media (width >= 1024px) {
  .promo {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 75px 55px 75px 70px;
  }

  .promo__container {
    align-items: flex-start;
    padding: 0;
  }

  .promo__img {
    align-self: start;
    margin: 0;
  }

  .promo__title {
    width: 640px;
    margin: 0;

    font-size: 50px;
    line-height: 58px;
    text-align: left;
    letter-spacing: 0;
  }

  .promo__text {
    width: 310px;
    margin: 37px 0 0;
    text-align: left;
  }
}
