* {
  box-sizing: border-box;
}

/* Временная кнопка логина для удобства */

.button_login {
  position: absolute;
  z-index: 5;
  top: 80px;
  left: 30px;

  width: 30px;
  height: 30px;

  background-color: #3ddc84;
  border: none;
  border-radius: 50%;
}

.button_logout {
  position: absolute;
  z-index: 5;
  top: 80px;
  left: 30px;

  width: 30px;
  height: 30px;

  background-color: red;
  border: none;
  border-radius: 50%;
}

#root {
  background-color: #202020;
}

.app {
  position: relative;

  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;

  font-family: Inter, Arial, sans-serif;
  color: #fff;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;

  background: #202020;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Общие стили для кнопки */

.button {
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.2;
}

/* Заголовки блоков в Promo */

.title {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.72px;
}

@media (width >= 768px) {
  .title {
    font-size: 22px;
    letter-spacing: -0.88px;
  }
}

/* Основоной текст в Promo */

.text_primary {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  text-align: center;
}

@media (width >= 768px) {
  .text_primary {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (width >= 1024px) {
  .text_primary {
    font-size: 14px;
    line-height: 22px;
  }
}

/* Общие стили для ссылки */

.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: none;
}
