* {
  box-sizing: border-box;
}

.button_login {
  position: absolute;
  top: 20px;
  left: 80px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #3DDC84;
  z-index: 5;
}

.button_logout {
  position: absolute;
  top: 20px;
  left: 80px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: red;
  z-index: 5;
}

#root {
  background-color: #000;
}

.app {
  position: relative;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto 0;
  font-family: Inter, Arial, sans-serif;
  color: #fff;
  background: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.button {
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.title {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
}

.text_primary {
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.text_secondary {
  color: #8B8B8B;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: none;
}