.search-form {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  height: 272px;
  margin: 0 auto;
  padding: 80px 10px 45px;

  border-bottom: 1px solid #424242;
}

.search-form__container {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;

  width: 100%;
}

.search-form__form {
  display: flex;
  align-items: center;

  width: 100%;
}

.search-form__label {
  display: flex;
  align-items: center;

  width: 100%;
  height: 72px;
  padding: 0 19px;

  background: #222;
  border-radius: 9px;
  box-shadow: 0 3px 14px 0 rgb(0 0 0 / 8%);
}

.search-form__input {
  width: 100%;
  height: 60px;

  color: #fff;

  background: #222;
  border: none;
}

.search-form__input:focus {
  outline: 1px solid #4285f4;
  border-radius: 10px;
}

.search-form__input:focus::placeholder {
  color: transparent;
}

.search-form__button {
  width: 34px;
  height: 34px;
  margin-left: 10px;

  color: #fff;

  background: #4285f4 url('../../images/find_blue.svg') no-repeat;
  border: none;
  border-radius: 20px;
}

/* ----- Разрешение 768px ------ */

@media (width >=768px) {
  .search-form {
    align-items: center;
  }

  .search-form__container {
    flex-direction: row;
    gap: 0;
    background: #222;
  }

  .search-form__line {
    width: 1px;
    height: 34px;
    border-right: 1px solid #fff;
  }

  .search-form__input:focus {
    text-indent: 50px;
  }

  .search-form__input::placeholder {
    padding: 0 21px 0 65px;
    background: transparent
      url("data: image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.7929 18.2638C17.361 19.6957 15.0394 19.6957 13.6075 18.2638C12.1755 16.8319 12.1755 14.5103 13.6075 13.0783C15.0394 11.6464 17.361 11.6464 18.7929 13.0783C20.2248 14.5103 20.2248 16.8319 18.7929 18.2638ZM19.2333 19.6468C17.2731 21.1462 14.4575 20.9994 12.6647 19.2066C10.712 17.254 10.712 14.0882 12.6647 12.1355C14.6173 10.1829 17.7831 10.1829 19.7357 12.1355C21.5285 13.9283 21.6753 16.7437 20.1761 18.7039L23.7428 22.2706L22.8 23.2134L19.2333 19.6468Z' fill='%23A0A0A0' /%3E%3C/svg%3E")
      no-repeat 13px center;
  }
}

/* ----- Разрешение 1024px ------ */

@media (width >=1024px) {
  .search-form {
    height: 100%;
    padding: 70px 70px 80px;
  }

  .search-form__label {
    padding: 0 18px 0 3px;
  }
}
