@keyframes preloader-inside-white {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes preloader-inside-red {
  0% {
    transform: scale(0, 0);
  }

  30% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

.preloader {
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 20px;
}

.preloader__container {
  position: relative;
  width: 100px;
  height: 100px;
}

.preloader__round {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  background: #3ddc84;
  border-radius: 50px;
}

.preloader__round::after,
.preloader__round::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  border-radius: 50px;
}

.preloader__round::after {
  background: #202020;
  animation: preloader-inside-white 1s ease-in-out infinite;
}

.preloader__round::before {
  z-index: 10;
  background: #3ddc84;
  animation: preloader-inside-red 1s ease-in-out infinite;
}
