.header {
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 74px;
  margin: 0 auto;
  padding: 18px 14px;

  background: #202020;
}

.header__links {
  display: flex;
  gap: 14px;
  align-items: center;
}

.header__link {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  text-align: right;
}

.header__button {
  width: 54px;
  height: 26px;
  padding: 5px 0;

  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
  text-align: center;

  background: #3ddc84;
  border-radius: 3px;
}

.header_page_promo {
  background: #073042;
}

.header_auth {
  justify-content: space-between;
}

/* ----- Разрешение 768px ------ */

@media (width >= 768px) {
  .header {
    padding: 18px 30px;
  }

  .header__links {
    gap: 30px;
  }

  .header__link {
    font-size: 12px;
  }

  .header__button {
    width: 75px;
    height: 30px;
    padding: 7px 0;
    font-size: 12px;
  }
}

/* ----- Разрешение 1024px ------ */

@media (width >= 1024px) {
  .header {
    padding: 18px 70px 18px;
  }
}
