.footer {
  width: 100%;
  padding: 40px 10px 20px;
}

.footer_page_movies {
  padding-top: 67px;
}

.footer__title {
  padding-bottom: 42px;

  font-size: 12px;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-weight: 400;
  color: #8b8b8b;
  text-align: center;

  border-bottom: 1px solid;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  padding-bottom: 30px;
}

.footer__link {
  font-size: 12px;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-weight: 400;
  color: #fff;
}

.footer__copyright {
  margin: 0;

  font-size: 12px;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-weight: 400;
  color: #8b8b8b;
  text-align: center;
}

/* ----- Разрешение 768px ------ */

@media (width >= 768px) {
  .footer {
    padding: 57px 30px 20px 20px;
  }

  .footer_page_movies {
    padding-top: 79px;
    padding-left: 35px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }

  .footer__title {
    padding-bottom: 15px;
    font-size: 13px;
  }

  .footer__links {
    flex-direction: row;
    gap: 20px;
    padding-bottom: 0;
  }

  .footer__link {
    font-size: 13px;
  }

  .footer__copyright {
    order: -1;
    color: #fff;
  }
}

/* ----- Разрешение 1024px ------ */

@media (width >= 1024px) {
  .footer {
    padding: 45px 70px 20px;
  }

  .footer_page_movies {
    padding-top: 71px;
  }
}
