.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  width: 100%;
  max-width: 396px;
  padding: 30px;
}

.auth__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 720px;
  padding: 0;
}

.auth__logo {
  margin: 26px 0 50px;
  width: 38px;
  height: 38px;
}

.auth__title {
  margin: 0 0 80px;

  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.auth-form {
  flex: 1;
}

.auth__text {
  margin-top: 14px;

  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #8b8b8b;
  text-align: center;
}

.auth__link {
  color: #4285f4;
}

/* ----- Разрешение 768px ------ */

@media (width >= 768px) {
  .auth {
    align-items: flex-start;
    padding: 0;
  }

  .auth__container {
    align-items: start;
    width: 100%;
    min-height: 563px;
    margin: 230px 0;
  }

  .auth__logo {
    margin: 0 0 40px;
  }

  .auth__title {
    margin: 0 0 40px;
  }

  .auth__text {
    align-self: center;
    font-size: 14px;
  }
}

/* ----- Разрешение 1024px ------ */

@media (width >= 1024px) {
  .auth__container {
    margin: 68px 0;
  }
}
