.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 30px;
}

.auth__logo {
  margin: 26px 0 50px;
}

.auth__title {
  margin: 0 0 80px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.auth__text {
  margin-top: 14px;
  color: #8B8B8B;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .auth {
    align-items: flex-start;
    padding: 232px 186px;
  }

  .auth__logo {
    margin: 0 0 40px;
  }

  .auth__title {
    margin: 0 0 40px;
  }

  .auth__text {
    align-self: center
  }
}

@media (min-width: 1024px) {
  .auth {
    padding: 70px 442px;
  }
}