.auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  padding: 30px;
}

.auth__logo {
  margin: 26px 0 50px;
}

.auth__title {
  margin: 0 0 80px;

  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.auth__text {
  margin-top: 14px;

  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #8b8b8b;
  text-align: center;
}

.auth__link {
  color: #4285f4;
}

/* ----- Разрешение 768px ------ */

@media (width >= 768px) {
  .auth {
    align-items: flex-start;
    padding: 232px 186px;
  }

  .auth__logo {
    margin: 0 0 40px;
  }

  .auth__title {
    margin: 0 0 40px;
  }

  .auth__text {
    align-self: center;
    font-size: 14px;
  }
}

/* ----- Разрешение 1024px ------ */

@media (width >= 1024px) {
  .auth {
    padding: 70px 442px;
  }
}
