.navtab {
  position: relative;
}

.navtab__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px #79939e;
  background: #073042;
  transition: all .7s ease-out;
}

.navtab__list_active {
  bottom: 50%;
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.navtab__button {
  margin: 80px 0 30px;
  border-radius: 3px;
  border: 1px solid #FFF;
  opacity: 0.6;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: transparent;
  padding: 10px 20px;
}

.navtab__link {
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}